# Скрытые файлы и папки (dot-files / dot-folders)
.*

# Исключение — сам .gitignore должен попасть в репозиторий
!.gitignore

# GitHub Actions workflow должен попасть в репозиторий
!.github/
!.github/**

# Собранный сайт MkDocs
site/

/site/
/CLAUDE.md